*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --box-size: 175px;
  --mark-size: calc(var(--box-size) * .9);
}

body {
  margin: 0;
  background: linear-gradient(to bottom right, #45aa16, #136602)
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

.box {
  width: var(--box-size);
  height: var(--box-size);
  border: 1px solid yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:nth-child(3n + 1) {
  border-left: none;
}

.box:nth-child(3n + 3) {
  border-right: none;
}

.box:last-child,
.box:nth-child(8),
.box:nth-child(7) {
  border-bottom: none;
}

.box.x,
.box.o {
  cursor: not-allowed;
}

.box.x::before,
.box.x::after {
  background-color: rgb(175, 0, 0);
}
.box.o::before {
  background-color: rgb(0, 0, 175);
}

.board.x .box:not(.x):not(.o):hover::before,
.board.x .box:not(.x):not(.o):hover::after,
.board.o .box:not(.x):not(.o):hover::before {
  background-color: gray;
}

.box.x::before,
.box.x::after,
.board.x .box:not(.x):not(.o):hover::before,
.board.x .box:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.box.x::before,
.board.x .box:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.box.x::after,
.board.x .box:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.box.o::before,
.box.o::after,
.board.o .box:not(.x):not(.o):hover::before,
.board.o .box:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.box.o::before,
.board.o .box:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.box.o::after,
.board.o .box:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: #238804;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}